@using PhotoManager.CustomHelpers
@model PhotoManager.DAL.ProjectionModels.SearchModel
<div class="page-header">
    <h2>Photo gallery</h2>
</div>

<form id="formAdvancedSearch">
    <div class="row form-menu">
        <table class="col-5">
            <tr>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.TextEditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Place)</td>
                <td>@Html.TextEditorFor(m => m.Place)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CameraModel)</td>
                <td>@Html.TextEditorFor(m => m.CameraModel)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Diaphragm)</td>
                <td>@Html.CustomEnumDropDownListFor(model => model.Diaphragm, true)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ShutterSpeed)</td>
                <td>@Html.CustomEnumDropDownListFor(model => model.ShutterSpeed, true)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Flash)</td>
                <td>@Html.CustomEnumDropDownListFor(model => model.Flash, true)</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-block btn-menu">SEARCH</button>
                </td>
            </tr>
        </table>
        <table class="col-6">
            <tr>
                <td>@Html.DisplayNameFor(m => m.CreationDateBegin)</td>
                <td>From: @Html.DateEditorFor(m => m.CreationDateBegin)</td>
                <td>To: @Html.DateEditorFor(m => m.CreationDateEnd)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.LensFocalLengthBegin)</td>
                <td>From: @Html.NumberEditorFor(m => m.LensFocalLengthBegin)</td>
                <td>To: @Html.NumberEditorFor(m => m.LensFocalLengthEnd)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.IsoBegin)</td>
                <td>From: @Html.NumberEditorFor(m => m.IsoBegin)</td>
                <td>To: @Html.NumberEditorFor(m => m.IsoEnd)</td>
            </tr>
        </table>
    </div>
    <div id="counter"></div>
    <div id="content" class="row"></div>
    <div id="spinner" class="loader"></div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/Gallery/AdvancedSearch")
}
