@using PhotoManager.Common
@{
    ViewBag.Title = "Gallery";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row form-group search-bar">
    <input class="form-control" id="KeyWord" name="KeyWord" />
    <button class="btn btn-search-gallery">Search</button>
</div>

@Html.Partial("Partial/Menu")

<div id="content" class="row"></div>

<script>
    $.loadPhotos("@Constants.PhotoAlbumTemplate", "@ViewBag.FilterParameter");
</script>