@using PhotoManager.CustomHelpers
@model PhotoManager.DAL.ProjectionModels.PhotoAddModel
<div class="page-header">
    <h2>Add photo</h2>
</div>

<form id="formAdd" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div id="content">
        <table>
            <tr>
                <td>@Html.HiddenFor(m => m.CameraSettingsId)</td>
                <td>@Html.HiddenFor(m => m.Id)</td>
                <td>@Html.HiddenFor(m => m.AlbumId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.TextEditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CreationDate)</td>
                <td>@Html.DateTimeEditorFor(m => m.CreationDate)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Place)</td>
                <td>@Html.TextEditorFor(m => m.Place)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CameraModel)</td>
                <td>@Html.TextEditorFor(m => m.CameraModel)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.LensFocalLength)</td>
                <td>@Html.NumberEditorFor(m => m.LensFocalLength)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Diaphragm)</td>
                <td>@Html.NumberEditorFor(m => m.Diaphragm, 0.01)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ShutterSpeed)</td>
                <td>@Html.NumberEditorFor(m => m.ShutterSpeed)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Iso)</td>
                <td>@Html.NumberEditorFor(m => m.Iso)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Flash)</td>
                <td>@Html.NumberEditorFor(m => m.Flash, 0.01)</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-block btn-menu">SAVE CHANGES</button>
                </td>
            </tr>
        </table>
        <div class="img-container photo-frame">
            <img id="displayedImage" class="image" src="@Model.ImageUrl" />
        </div>
    </div>
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" accept="image/jpeg" />
</form>

<div class="modal fade" id="selectPhotoModal" tabindex="-1" role="dialog" aria-labelledby="selectPhotoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error adding photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Select a photo</div>
        </div>
    </div>
</div>

<div class="modal fade" id="fileSizeExceedingModal" tabindex="-1" role="dialog" aria-labelledby="fileSizeExceedingLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error adding photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Photo size must not be larger than 500K</div>
        </div>
    </div>
</div>

<div class="modal fade" id="invalidMimeTypeModal" tabindex="-1" role="dialog" aria-labelledby="invalidMimeTypeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error adding photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Only JPEG format is allowed</div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Photo/Add")
    @Scripts.Render("~/bundles/jqueryval")
}