<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mustache")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/photoManager")
    @Scripts.Render("~/bundles/bootbox")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        @Html.ActionLink("Photo Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" aria-expanded="false" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Albums", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>