@{
    ViewBag.Title = "Balance";
}
@using CacheMachine.Common
@model CacheMachine.DAL.Models.Operation

<content id="operationContent">
    <form class="form-signin">
        <h2 class="form-signin-heading ">@Resources.CardInformation</h2>
        <table class="table-striped table-bordered" width="310">
            <tbody width="310">
                <tr>
                    <th>@Resources.CardNumber</th>
                    <th>@Model.CardId</th>
                </tr>
                <tr>
                    <th>@Resources.Date</th>
                    <th>@Model.OperationDate.ToString("d")</th>
                </tr>
                <tr>
                    <th>@Resources.SumAvailable</th>
                    <th>@Model.Card.Sum</th>
                </tr>
            </tbody>
        </table>
        <div class="row">
            @Html.Partial("BackButton")
            @Html.Partial("ExitButton")
        </div>
    </form>
</content>
