@{
    ViewBag.Title = "Pin Code";
}

@using CacheMachine.Common
@model string

<content id="pinCodeContent">
    @using (Html.BeginForm("OperationResult", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading ">@Resources.GetCache</h2>
        @Html.Partial("Numpad/Numpad", string.Empty)
        @Html.Hidden("id", Model)
        @Html.Partial("OkButton")
        @Html.Partial("ExitButton")
    }
</content>
