@{
    ViewBag.Title = "Balance";
}
@using CacheMachine.Common
@model CacheMachine.DAL.Models.Operation

<content id="operationContent">
    <form class="form-cache-machine">
        <div class="page-header">
            <h2>@Resources.OperationResult</h2>
        </div>
        <table class="table table-striped table-bordered cache-machine-content">
            <tbody>
                <tr>
                    <td>@Resources.CardNumber</td>
                    <td>@Model.CardId</td>
                </tr>
                <tr>
                    <td>@Resources.Date</td>
                    <td>@Model.OperationDate.ToString("g")</td>
                </tr>
                <tr>
                    <td>@Resources.CacheSum</td>
                    <td>@Model.Sum</td>
                </tr>
                <tr>
                    <td>@Resources.RemainSum</td>
                    <td>@Model.Card.Sum</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-6">
                @Html.Partial("BackButton")
            </div>
            <div class="col-lg-6">
                @Html.Partial("ExitButton")
            </div>
        </div>
    </form>
</content>
