@{
    ViewBag.Title = "Balance";
}
@using CacheMachine.Common
@model CacheMachine.DAL.Models.Operation

<content id="operationContent">
    <form class="form-signin">
        <h2 class="form-signin-heading ">@Resources.OperationResult</h2>
        <table class="table-striped table-bordered" width="310">
            <tbody width="310">
                <tr>
                    <th>@Resources.CardNumber</th>
                    <th>@Model.CardId</th>
                </tr>
                <tr>
                    <th>@Resources.Date</th>
                    <th>@Model.OperationDate.ToString("G")</th>
                </tr>
            <tr>
                <th>@Resources.CacheSum</th>
                <th>@Model.Sum</th>
            </tr>
            <tr>
                <th>@Resources.RemainSum</th>
                <th>@Model.Card.Sum</th>
            </tr>
            </tbody>
        </table>
            @Html.Partial("BackButton")
            @Html.Partial("ExitButton")
    </form>
</content>
