@{
    ViewBag.Title = "Balance";
}
@model CacheMachine.Models.Operation

<content id="operationContent">
    <form class="form-signin">
        <h2 class="form-signin-heading ">Результат операции</h2>
        <table class="table-striped table-bordered" width="310">
            <tbody width="310">
                <tr>
                    <th>Номер карты</th>
                    <th>@Model.CardId</th>
                </tr>
                <tr>
                    <th>Дата</th>
                    <th>@Model.OperationDate.ToString("G")</th>
                </tr>
            <tr>
                <th>Снятая сумма</th>
                <th>@Model.Sum</th>
            </tr>
            <tr>
                <th>Остаток на счету</th>
                <th>@Model.Card.Sum</th>
            </tr>
            </tbody>
        </table>
            @Html.Partial("BackButton")
            @Html.Partial("ExitButton")
    </form>
</content>
