@{
    ViewBag.Title = "Pin Code";
}

<h3>@ViewBag.Message</h3>
@model CacheMachine.Models.Card

<content id="pinCodeContent">
    @using (Html.BeginForm("CheckPinCode", "Home", FormMethod.Get, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading ">Введите пин-код</h2>
        @Html.Partial("Numpad/Numpad", Constants.PinCodeMask)
        @Html.HiddenFor(m => m.Id)
        @Html.Partial("OkButton")
        @Html.Partial("ExitButton")
    }
</content>
