@using PhotoManager.CustomHelpers
@model PhotoManager.DAL.ProjectionModels.AlbumIndexModel

<form id="formAlbumEdit" role="form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div id="albumEditForm" class="row form-menu">
        <table>
            <tr>
                <td>@Html.HiddenFor(m => m.Id)</td>
                <td>@Html.HiddenFor(m => m.OwnerId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.TextEditorFor(m => m.Name)</td>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Description)</td>
                <td>@Html.TextEditorFor(m => m.Description)</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-block btn-menu" value="SAVE CHANGES" />
                </td>
            </tr>
        </table>
    </div>
    <div id="counter"></div>
    <div id="content" class="row"></div>
    <div id="spinner" class="loader"></div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Album/Edit")
    <script>
        $(function() {
            $.editAlbum("@Model.Id");
        })
    </script>
}
