@using PhotoManager.Common
@{
    ViewBag.Title = "Album";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Html.Partial("Partial/Menu")

<div id="content" class="row"></div>

<script>
    $.loadPhotoAlbum("@Constants.PhotoAlbumTemplate","/api/albums/" + @ViewBag.Id);
</script>